<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<%PUBLIC_URI%>/style.css" />
    <title>ra's setup</title>
  </head>

  <body>
    <header>
      <h1>my-setup</h1>
    </header>

    <nav>
      <a href="<%BUILD_URI%>">home</a>
    </nav>

    <main>

    </main>

      <p>
        i have been bitten by a <a href="https://suckless.org">suckless</a> and an <a href="https://github.com/mayfrost/guides/blob/master/ALTERNATIVES.md">alternatives to bloatware</a> zombies.
      </p>

      <p>
        i like all my setup <i>as simple as possible</i> (remember?) in order to bootstrap a new installation with all my shit and without pain in the proccess. then all the software listed below use as less config files, patches and plugins as possible too.
      </p>

      <h3>== operating system ==</h3>

      <code>
        $ cat /etc/*-release | grep ^NAME | cut -d'=' -f2 | sed 's/\"//g'
      </code>

      <p>
        i have used <a href="https://archlinux.org">archlinux</a> as my main distribution for at least three years by now.
      </p>

      <h3>== terminal ==</h3>

      <code>
        $ echo $TERMINAL
      </code>

      <p>
        i started using <a href="https://st.suckless.org">st</a> (the simple terminal).
      </p>

      <h3>== shell ==</h3>

      <code>
        $ echo $SHELL
      </code>

      <p>
        bash
      </p>

      <h3>== window manager ==</h3>

      <code>
        $ exec dwm
      </code>

      <p>
        i've using <a href="https://xmonad.org">xmonad</a> until i read on the <a href="https://dwm.suckless.org">dwm</a> main page that <i>"xmonad is a dwm clone in haskell"</i>. then i start using dwm instead.
      </p>

      <h3>== text editor ==</h3>

      <code>
      $ echo $EDITOR
      </code>

      <p>
        i use <a href="https://www.vim.org">vim</a> without syntax highlight. why?
      </p>

      <p>
        <img src="<%PUBLIC_URI%>/QmWUHqBRXYjr5SFVaS3X6CXSiZnyxQDdvETYiVknevb4Tq" title="syntax_on" />
      </p>

      <h3>== audio player ==</h3>

      <p>
        i have a rudimentary bash script called <a href="https://gitlab.com/8topolar/aplayer">aplayer</a> to perform this task. it uses <a href="https://mpg123.de">mpg123</a> that is a non-dependencies console based mpeg audio player.
      </p>

      <h3>== video player ==</h3>

      <p>
        i use <a href="https://ffmpeg.org/ffplay.html">ffplay</a>.
      </p>

      <h3>== image viewer ==</h3>

      <p>
        i use <a href="https://feh.finalrewind.org">feh</a>. you know it's not a big deal open an image you can see it through your web browser too and nowadays a luxurious web browser is required almost for any task on your computer. but better if it could be launched from terminal.
      </p>

      <h3>== file explorer/manager ==</h3>

      <p>
        when i feel h4x0r i use <a href="https://github.com/ranger/ranger">ranger</a>, when i am lazy i use <a href="https://gitlab.gnome.org/GNOME/nautilus">nautilus</a> and when i feel 1337 i use the <code>ls</code>, <code>cp</code>, <code>mv</code> and <code>find</code> commands.
      </p>

      <h3>== file sharing ==</h3>

      <p>
        i use <a href="https://github.com/btpd/btpd">btpd</a> + <a href="https://github.com/pobrn/mktorrent">mktorrent</a>.
      </p>

      <p>
        on the other hand i use <a href="https://ipfs.io">ipfs</a> for sharing files.
      </p>

      <h3>== web browser ==</h3>

      <p>
        i try to use <a href="https://lynx.invisible-island.net">lynx</a> as much as possible, but hey! this is the 21st century. am i a command line junkie? almost entire web sites do not render on a text web browser.
      </p>

      <p>
        i have installed <a>surf</a> but i can't get it works to play any video. i keep using firefox for this.
      </p>

      <h3>== search engine ==</h3>

      <p>
        <a href="https://duckduckgo.com">Duck Duck Go</a> is my shepherd!
      </p>

      <h3>== static website generator ==</h3>

      <p>
        i use plain html and bash for <a href="<%BUILD_URI%>">this site</a> and for <a href="<%BUILD_URI%>plog">my personal blog</a>.
      </p>

    <footer>
      <p>
        released into public domain.
      </p>
    </footer>
  </body>

</html>
